body
{
    font-family: sans-serif;
}

#content
{
    margin: 0 auto;
}

#head
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header
{
    display: block;
    word-wrap: break-word;
    font-size: 43pt;
    font-weight: bolder;
    letter-spacing: 8px;
}

a
{
    transition: color .4s ease-in-out,
        color .4s ease-in-out,
        text-shadow .4s ease-in-out,
        text-shadow .4s ease-in-out;
}

a:link
{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

a:visited
{
    color: rgba(0, 0, 0, 0.4);
}

a:active
{
    color: #B3262A;
    text-decoration: none;
}

a:hover
{
    color: rgba(35, 31, 32, 1);
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#about, #portfolio
{
    margin-left: 10%;
    margin-right: 10%;
}

#about h3
{
    text-align: center;
    color: #4e4e4e;
    text-shadow: 1px 1px 1px #bebebe;
}

#about p, #portfolio p
{
    text-align: center;
    margin-bottom: 10px;
    font-size: 11pt;
    margin: 7px;
}

#portfolio
{
    margin-top: 20%;
}

#contact
{
/*
    margin-top: 100px;
    margin-left: 150px;
*/
}

#contact ul
{
    list-style: none;
}

@media screen and (max-width: 600px)
{
    .header
    {
        font-size: 30pt;
    }
}